<div class = "flex">
  <fieldset class="field-danger">
  <div>
    <h1 class="danger">Past</h1>
    <% @past.each do | event | %>
      <strong><%= event.creator.name %>: </strong>
      <p><%= event.date %></p>
      <%= link_to event do %>
        <p><%= event.description %></p>
      <% end %>
    <% end %>
  </div>
</fieldset>
  <fieldset class="field">
  <div>
    <h1 class="warm">Upcoming</h1>
    <% @upcoming.each do | event | %>
      <strong><%= event.creator.name %>: </strong>
      <p><%= event.date %></p>
      <%= link_to event do %>
        <p><%= event.description %></p>
      <% end %>
    <% end %>
  </div>
</fieldset>
</div>