<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class = "flex">
      <%= link_to root_path do %>
          <h1>Home</h1>
      <% end %>
      <%= link_to current_user do %>
          <h2>My profile</h2>
      <% end %>
      <%= link_to root_path do %>
          <h2>Create event</h2>
      <% end %>
      <%= link_to root_path do %>
          <h2>Show event</h2>
      <% end %>
      <%= link_to login_path do %>
          <h2>Sign in</h2>
      <% end %>
      <%= link_to new_user_path do %>
          <h2>Sign up</h2>
      <% end %>
    </nav>
    
    <%= yield %>
  </body>
</html>
